body {
    background-image: url(https://cdn-images-1.medium.com/max/1600/1*xZrSvUrS-6zQQBfevGed2w.gif);
    color: white;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
}
thead {
    background-color: blue;
    
}
h2 {
    text-align: auto;
}
table, td {
    border: 1px solid red;
    border-collapse: collapse;
    background-color: black;
}

table {
    margin-left: auto;
    margin-right: auto;
}